@import 'reset.css';
@import 'bootstrap-grid.min.css';

@font-face {
    font-family: chango_dl;
    src: url(../medias/font/Chango/Chango-Regular.ttf);
}
@font-face {
    font-family: poppins_dl_semiBold;
    src: url(../medias/font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: poppins_dl_medium;
    src: url(../medias/font/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins_dl_light;
    src: url(../medias/font/Poppins/Poppins-Light.ttf);
}

/* DEBUG */
.bgr { background-color: red; }
.bgb { background-color: blue; }
.txr { color: red; }
.txb { color: blue; }

/* 
####################
 LOADING 
####################
*/
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}



/* 
####################
 GLOBAL 
####################
*/
body{
    background-color: #000000;
    color: #eeebd3;
    margin: 20px 40px 20px 40px;
}

/* 
####################
 TITRE 
####################
 */
h1{
    font-family: chango_dl;
    color: #eeebd3;
    font-size: 3em;
}
h4{
    font-family: chango_dl;
    color: #eeebd3;
    font-size: 1.7em;
}

h2{
    font-family: poppins_dl_semiBold;
    color: #eeebd3;
    font-size: 1.5em;
}
h3{
    font-family: poppins_dl_medium;
    color: #eeebd3;
    font-size: 1em;
}

.legend {
    font-family: poppins_dl_light;
    color: #eeebd3;
    font-size: .8em;
}

.word-color{ 
    color: #27ae60;
} 



/* 
####################
 SECTION DIV 
####################
 */

.container-with-centered-content {
    text-align:center;
    vertical-align:middle;
}

.pb-1 {
    padding: 0px 0px 20px 0px;
}
.pb-4 {
    padding: 0px 0px 80px 0px;
}


/* 
####################
 BTN GITLAB et data.gouv.fr 
####################
 */
 
.div-btn-blanc{
    /* line-height: 100px;
    margin-top: -100px; */
    position: relative;
    /* text-align: center; */
    /* top: 300px;
    left: 100px; */
}

.btn-blanc {
    font-family:poppins_dl_medium;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    transition: transform 200ms,background 200ms;
}
.btn-blanc:hover{
    transform: translateY(-2px);
}

.img-pipeline{
    width: 100px;
    height: auto;
    display: inline;
    position: relative;
    top: 4px;
    left: 4px;
}


/* 
####################
 MAP 
####################
 */
.iframe-regions{
    position: absolute;
    top: 150px;
    left: 10%;
    width: 80%;
    height: 500%;
  }
.pb-4-map{
    padding: 0px 0px 800px 0px;
}


/* 
####################
 BAS DE PAGE 
####################
 */
.footer{ 
    font-family:poppins_dl_medium;
    overflow:hidden;
} 
.footer-txt {
    text-align:center;
    vertical-align:middle;
    padding-bottom: 10px; 
    transition: transform .4s; 
}
.footer a{ 
    color: #27ae60;
} 
.footer-txt:hover {
    transform: scale(1.3);
}



  


/* 
####################
 RESPONSIVE 
####################
*/

/* smaller phone viewpoints */
@media (min-width: 320px) and (max-width: 480px) {

}

/* small devices and most phones */
@media (min-width: 480px) and (max-width: 768px) {

}

/* most tablets */
@media (min-width: 768px) and (max-width: 992px) {

}

/* smaller desktop viewpoints */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* large devices and wide screens */
@media (min-width: 1200px) {
    /* CLASSIQUE */
}





